@model IEnumerable<Entitys.MedIfTrans>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
 
<p>
    @Html.ActionLink("新增", "Create")
</p>
<div class="row">
    <div class="col-lg-10"><table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DBMS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataBase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogPass)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DBMS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogPass)
            </td>

            <td>
                @Html.ActionLink("编辑", "Edit", new { transName = item.TransName })
            </td>
        </tr>
    }
</table>
</div>
    <div class="col-lg-2"></div>
</div>
